<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Hi, <span style="color: #f5821f">${username}</span></h1>
        <img style="width:100%; height: auto; max-width: 350px;" src="https://tadviser.ru/images/7/74/%D0%94%D0%B5%D0%BF%D0%B0%D1%80%D1%82%D0%B0%D0%BC%D0%B5%D0%BD%D1%82_%D0%BF%D0%BE_%D0%BA%D1%83%D0%BB%D1%8C%D1%82%D1%83%D1%80%D0%B5_%D0%A2%D0%BE%D0%BC%D1%81%D0%BA%D0%BE%D0%B9_%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D0%B8.png" alt = "Изображение теряется...">
        <h3>
            You have sent message in support: <span style="color: #00a3b4">${question}</span>
        </h3>
        <h2>
            Our admins have answered you: <span style="color: #f5821f">${answer}</span>
        </h2>
        <h2>
            We wish you a good day!
        </h2>
    </body>
</html>